<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    <link rel="stylesheet" href="../sources/css/contactanos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Contáctanos</h1>
        <form action="">
            <section class="cont-input">
                <input type="text" name="" id="" class="" placeholder="Nombre">
                <select name="" id="">
                    <option value="">Categoria</option>
                    <option value="">Servicio tecnico</option>
                    <option value="">Reclamo</option>
                    <option value="">Sugerencia</option>
                    <option value="">Otro</option>
                </select>
            </section>
            <input type="email" name="" id="" class="input-info" placeholder="Correo electrónico">
            <textarea name="" id="" cols="30" rows="10" class="input-info" placeholder="Escribe tu mensaje aquí"></textarea >
            <button type="submit">Enviar solicitud</button>
        </form>
        <section class="cont-info">
            <article>
                <img src="../sources/img/envelope-solid.svg" alt="Icono de correo" class="">
                <p>contacto@pediya.com</p>
            </article>

            <article>
                <img src="../sources/img/map-location-dot-solid.svg" alt="Icono de mapa" class="">
                <p>Medellín, Colombia</p>
            </article>

            <article>
                <img src="../sources/img/phone-solid.svg" alt="Icono de telefono" class="">
                <p>+57 xxx xxx xxxx</p>
            </article>
        </section>
        <a href="index.html" class="img"><img src="../sources/img/home.svg" alt=""></a>
    </main>
</body>
</html>